
@inherits LayoutComponentBase

@if (IsOpen)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.8);">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content bg-dark border-secondary">
                <div class="modal-body p-0 text-center">
                    <img src="@ImageUrl"
                         class="img-fluid"
                         style="max-height: 90vh;"
                         @onclick="Close"
                    />
                </div>
                <div class="modal-footer bg-dark border-secondary text-end">
                    <button class="btn btn-secondary" @onclick="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string? ImageUrl { get; set; }

    public bool IsOpen { get; private set; }

    public void Open(string url)
    {
        ImageUrl = url;
        IsOpen = true;
        StateHasChanged();
    }

    public void Close()
    {
        IsOpen = false;
        StateHasChanged();
    }
}