<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MercenariesAndBeasts.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dungeons">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dungeon
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Location
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
    <Authorized>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/locations-admin">
                <span class="oi oi-list-rich"></span> Locations Admin
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dungeons-admin">
                <span class="oi oi-fire"></span> Dungeons Admin
            </NavLink>
        </li>
    </Authorized>
</AuthorizeView>
    </nav>
</div>

